{% load rest_framework %}
{% if request.user.interviewer %}
{% endif %}
<table class="table table-striped">
    <tbody>
        {% for key, value in results.items %}
        {% if key in details %}
        <tr><th>{{ key|capfirst }}</th><td {{ value|add_nested_class }}>{{ value|format_value }}</td></tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>
{% if request.user.interviewer %}
<form class="button-form" action="./markpending">
<button style="float: right" type="submit" class="btn btn-primary">Mark as Pending</button>
</form>
<form class="button-form" action="./cancel/">
<button style="float: right" type="submit" class="btn btn-primary">Put Back to Queue</button>
</form>
<form class="button-form" action="./markaccept">
<button style="float: right" type="submit" class="btn btn-primary">Mark as Accept</button>
</form>
{% endif %}